@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar{

	background-color: #E6E6E6;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	color: red;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.home{

	width: 100%;
	height: 500px;
	background-image: url(photos/home.jpg);
	text-align: center;
	font-family:  'Roboto Condensed', sans-serif;
	display: inline-block;
}

.header-message{

	display: inline-block;
	color: white;
	margin-top: 3%;
	

}

h3{

	color: gray;
}

.container {

	text-align: center;  
}

#c-1{

	background-color: #9C9AC1;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%;
}

#c-2{

	background-color: #CE544C;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%;
}

#c-3{

	background-color: #63A2C9;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%;
}

#c-4{

	background-color: #E8C050;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 50%;
}

.latest-work-heading{

	text-align: left;
	font-weight: 700;
}

.classWithPad{

	margin: 10px;
	padding: 10px;
}

.textAlignLeft{

	text-align: justify;
	margin-top: 10px;
	margin-bottom: 25px;
	color: #7F726F;
	font-family: 'Roboto Condensed', sans-serif;
}

.textAlignCenter{

	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	display: block;
	color: #A1A1A1;
	
	
}

.footer-area{

	width: 100%;
	height: 300px;
	background-color: #F7F7F7;
	color: #7F726F;
	font-family: 'Roboto', sans-serif;
}


.semi-colon {

	font-size: 80px;
	text-align: center;
	display: inline-block;
	margin-left: 50%;
	color: #A1A1A1;

}

.theEnd{

	background-color: #1E1E1E;
	height: 1150px;
}



.fontAlignment{

	display: block;
	margin-left:  35px;
	color: #7F726F;
	font-size: 17px;
	text-align: left;
}

.smaller {

	font-size: 13px;
}


.footer-header{

	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	color: #7F726F;
	font-family: 'Roboto Condensed', sans-serif;

}

.copyright {

	color: white;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	}


